.cardContainerLol {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: rgba(251, 255, 0, 0.562);
    transition: background-color 0.2s ease;
    border-radius: 12px;
    border: 2px solid rgb(158, 148, 4);
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.imgLol {
    border-radius: 120px;
    width: 120px;
}

.cardContainerLol:hover {
    background-color: rgb(235, 208, 91);
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
}

.title {
    width: 100%;
    color: rgb(46, 46, 46);
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.name {
    font-weight: bold;
    width: 100%;
    font-size: 28px;
}
